body {
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
}

h1 {
  font-size: 90px;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
}

h2 {
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  color: #66BFBF;
  font-weight: normal;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #66BFBF;
}

.avatar-img {
  margin-top: 50px;
}

.self-description {
  width: 30%;
  margin: auto;
}

.divider-self-intro, .divider-get-in-touch {
  border-width: 10px;
  color: grey;
  border-style: dotted none none none;
  margin-top: 50px;
  width: 5%;
}

.code-img {
  width: 20%;
  float: left;
  margin-right: 30px;
}

.skill-img {
  width: 15%;
  float: right;
  margin-right: 30px;
}

.pro {
  text-decoration: underline;
}

.contact-me p {
  margin: 40px auto 40px;
  width: 30%;
}

.contact-me-btn {
  font-size: 17px;
  color: white;
  border-radius: 8px;
  background: linear-gradient( #11cdd4, #11999e);
  width: 150px;
  height: 60px;
  transition-duration: 0.5s;
  margin-bottom: 70px;
}

.contact-me-btn:hover {
  background: #30e3cb;
}

.bottom-container {
  width: 100%;
  height: 200px;
  background: #66bfbf;
  text-align: center;
}

.bottom-container a {
  text-decoration: none;
  color: #11999E;
  display: inline-block;
  margin: 30px auto 10px;
  padding: 20px;
}

.bottom-container p {
  color: #EAF6F6;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.top-container {
  background-color: #E4F9F5;
  padding-top: 100px;
  position: relative;

}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}
